data/*
!data/*.b3sum
!data/*.sha256
results/
volumes/
splits/
ai4mi/
ai4mi_venv/
__pycache__/
eda_output/

data/

projects
.DS_Store

experiment_log_2.txt
experiment_log.txt
experiment_log_16kernels.txt